<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>

<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control"  pattern="[a-zA-Z]+" v-model="criterioPorNombre"
        placeholder="Ingresar nombre o apellido...">

    <br>

    <input type="number" class="form-control" v-model="criterioPorDni" pattern="[0-9]+"
        placeholder="Ingresar el documento...">
    </br>

    <div class="alert alert-danger" role="alert" v-if="showAlert">
        {{alertMessage}}
    </div>

    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasPorNombreYDni">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                        <img :src="persona.foto" width="50">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioPorNombre: '',
            criterioPorDni: '',

            showAlert: false,
            alertMessage: '',

            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873",
                    foto: "https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/12_avatar-128.png"
                },
                {
                    nombre: "Camila Belén",
                    apellido: "Capua",
                    correo: "camilabelencapua@gmail.com",
                    dni: "35894524",
                    foto: "https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/9_avatar-128.png"
                },
                {
                    nombre: "Agustin",
                    apellido: "Lopez",
                    correo: "ag_lopez@gmail.com",
                    dni: "38843318",
                    foto: "https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-128.png"
                },
                {
                    nombre: "Ignacio",
                    apellido: "Kyoli",
                    correo: "ignacio_123a@gmail.com",
                    dni: "25894569",
                    foto:  "https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/2_avatar-128.png"
                },
                {
                    nombre: "Sol",
                    apellido: "Forci",
                    correo: "forci_sol@gmail.com",
                    dni: "40256389",
                    foto:  "https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/11_avatar-128.png"
                },
                {
                    nombre: "Agustin",
                    apellido: "Lopez",
                    correo: "lopezagustin128@gmail.com",
                    dni: "50821362",
                    foto: "https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/3_avatar-128.png"
                }
            ]
        },

        computed: {
            
            personasPorNombreYDni() {
                let arrayDePersonas = this.personas
                const patronDeChequeoLetras = /^[a-zA-Z]+$/
                const cantidadCharDni = this.criterioPorDni.length
                const cantidadCharNombre = this.criterioPorNombre.length
                const minChar = 3

                if((cantidadCharDni < minChar && cantidadCharDni != 0) || 
                (cantidadCharNombre < minChar && cantidadCharNombre != 0)){
                   
                    if(cantidadCharDni < minChar && cantidadCharNombre < minChar){
                        this.alertMessage= 'El dni y el nombre deben tener mas de 3 caracteres'
                    }else if (cantidadCharDni < minChar){
                        this.alertMessage= 'El dni deben tener mas de 3 caracteres'
                    }else{
                        this.alertMessage= 'El nombre deben tener mas de 3 caracteres'
                    }
                    this.showAlert = true;

                }else{
                    this.showAlert = false;
                }
 
                if (this.criterioPorDni > 0 || patronDeChequeoLetras.test(this.criterioPorNombre)){
                    arrayDePersonas = this.personas.filter((persona) => {
                        let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                        return registroCompleto.toLowerCase().includes(this.criterioPorDni.toLowerCase()) && registroCompleto.toLowerCase().includes(this.criterioPorNombre.toLowerCase())
                    })
                }                
                return arrayDePersonas
            }
        },

        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>



